
.background-yellow {
    -fx-background-color: #00acc1;
}

.background-black {
    -fx-background-color: black;
}

.background-light-black {
    -fx-background-color: #00acc1;
}

.text-lite-white {
    -fx-text-fill: #d5d5d5;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.text-genre {
    -fx-text-fill: #c7c7c7;
    -fx-font-style: italic;
    -fx-font-weight: 300;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}

.jfx-hamburger {
    -fx-background-color: black;
}

.jfx-hamburger StackPane {
    -fx-background-color: white;
}